.content {
  padding: 0 20px 20px 20px;
}

.title {
  font-size: 25px;
  display: block;
  /* float: left; */
  padding: 20px 20px;
}

.depotTable th,
td {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

.depotTable {
  border-collapse: collapse;
  margin: 30px 0;
  display: inline-table;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.PostCodeList {
  display: inline-table;
}

.title2 {
  font-size: 20px;
  padding: 20px 20px;
}
