.modalMain {
  position: fixed;
  background: rgb(54, 135, 228);
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.displayBlock {
  display: block;
}

.displayNone {
  display: none;
}
