.modal {
  z-index: 1000000002;
}

.modalBody {
  padding: 2% 5%;
}

.error {
  color: red;
  font-size: 14px;
}

.formError,
.formError:focus {
  border: 1px solid #fc5050;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
  outline: 0;
  text-decoration: none;
}

.captchaError iframe {
  border: 1px solid #fc5050;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
  outline: 0;
  text-decoration: none;
  border-radius: 5px;
}

.formBold {
  font-weight: 500;
}

.formRed {
  color: red;
}
